<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <h1>The booked seats are <%=(k1+1) %> to <%= (k1+n) %> </h1>
    <table>
        <tr>
            <td class="firstdiv">1</td>
            <td class="firstdiv">2</td>
            <td class="firstdiv">3</td>
            <td class="firstdiv">4</td>
            <td class="firstdiv">5</td>
            <td class="firstdiv">6</td>
            <td class="firstdiv">7</td>
        </tr>
        <tr>
            <td class="firstdiv">8</td>
            <td class="firstdiv">9</td>
            <td class="firstdiv">10</td>
            <td class="firstdiv">11</td>
            <td class="firstdiv">12</td>
            <td class="firstdiv">13</td>
            <td class="firstdiv">14</td>
        </tr>
        <tr>
            <td class="firstdiv">15</td>
            <td class="firstdiv">16</td>
            <td class="firstdiv">17</td>
            <td class="firstdiv">18</td>
            <td class="firstdiv">19</td>
            <td class="firstdiv">20</td>
            <td class="firstdiv">21</td>
        </tr>
        <tr>
            <td class="firstdiv">22</td>
            <td class="firstdiv">23</td>
            <td class="firstdiv">24</td>
            <td class="firstdiv">25</td>
            <td class="firstdiv">26</td>
            <td class="firstdiv">27</td>
            <td class="firstdiv">28</td>
        </tr>
        <tr>
            <td class="firstdiv">29</td>
            <td class="firstdiv">30</td>
            <td class="firstdiv">31</td>
            <td class="firstdiv">32</td>
            <td class="firstdiv">33</td>
            <td class="firstdiv">34</td>
            <td class="firstdiv">35</td>
        </tr>
        <tr>
            <td class="firstdiv">36</td>
            <td class="firstdiv">37</td>
            <td class="firstdiv">38</td>
            <td class="firstdiv">39</td>
            <td class="firstdiv">40</td>
            <td class="firstdiv">41</td>
            <td class="firstdiv">42</td>
        </tr>
        <tr>
            <td class="firstdiv">43</td>
            <td class="firstdiv">44</td>
            <td class="firstdiv">45</td>
            <td class="firstdiv">46</td>
            <td class="firstdiv">47</td>
            <td class="firstdiv">48</td>
            <td class="firstdiv">49</td>
        </tr>
        <tr>
            <td class="firstdiv">50</td>
            <td class="firstdiv">51</td>
            <td class="firstdiv">52</td>
            <td class="firstdiv">53</td>
            <td class="firstdiv">54</td>
            <td class="firstdiv">55</td>
            <td class="firstdiv">56</td>
        </tr>
        <tr>
            <td class="firstdiv">57</td>
            <td class="firstdiv">58</td>
            <td class="firstdiv">59</td>
            <td class="firstdiv">60</td>
            <td class="firstdiv">61</td>
            <td class="firstdiv">62</td>
            <td class="firstdiv">63</td>
        </tr>
        <tr>
            <td class="firstdiv">64</td>
            <td class="firstdiv">65</td>
            <td class="firstdiv">66</td>
            <td class="firstdiv">67</td>
            <td class="firstdiv">68</td>
            <td class="firstdiv">69</td>
            <td class="firstdiv">70</td>
        </tr>
        <tr>
            <td class="firstdiv">71</td>
            <td class="firstdiv">72</td>
            <td class="firstdiv">73</td>
            <td class="firstdiv">74</td>
            <td class="firstdiv">75</td>
            <td class="firstdiv">76</td>
            <td class="firstdiv">77</td>
        </tr>
        <tr>
            <td class="firstdiv">78</td>
            <td class="firstdiv">79</td>
            <td class="firstdiv">80</td>
        </tr>
    </table>
</body>
</html>