.firstdiv
{
    height: 20px;
    width: 20px;
    background-color: white;
    border-style: groove;
    text-align: center;
}

table
{
    margin-left: auto;
  margin-right: auto;
}

body
{
  text-align: center;
}

.form
{
  padding-top: 5%;
}

html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: black;
  padding: 10px;
} 


button {
  min-height: 100px;
  width: 100px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input
{
  height: 50px;
  width: 300px;
}

.heading1{
  padding-top: 8%;
}


